{:editing? false,
 :vertices  {"vertex3"  [2  [250 550]],
             "vertex1"  [2  [150 500]],
             "vertex12"  [2  [750 500]],
             "vertex5"  [0  [450 300]],
             "vertex6"  [2  [450 450]],
             "vertex4"  [2  [350 500]],
             "vertex8"  [0  [450 700]],
             "vertex11"  [2  [650 550]],
             "vertex9"  [2  [550 500]],
             "vertex0"  [0  [50 500]],
             "vertex2"  [2  [250 450]],
             "vertex7"  [2  [450 550]],
             "vertex13"  [0  [850 500]],
             "vertex10"  [2  [650 450]]},
 :selected nil,
 :edges  {"edge10"  ["vertex5"  "vertex6" :blue],
          "edge13"  ["vertex9"  "vertex10" :red],
          "edge15"  ["vertex10"  "vertex11" :red],
          "edge5"  ["vertex3"  "vertex4" :red],
          "edge4"  ["vertex2"  "vertex4" :red],
          "edge14"  ["vertex9"  "vertex11" :red],
          "edge12"  ["vertex11"  "vertex7" :red],
          "edge3"  ["vertex2"  "vertex3" :red],
          "edge6"  ["vertex6"  "vertex2" :red],
          "edge2"  ["vertex1"  "vertex3" :red],
          "edge1"  ["vertex1"  "vertex2" :red],
          "edge7"  ["vertex3"  "vertex7" :red],
          "edge11"  ["vertex6"  "vertex10" :red],
          "edge18"  ["vertex12"  "vertex13" :blue],
          "edge8"  ["vertex4"  "vertex9" :blue],
          "edge16"  ["vertex11"  "vertex12" :red],
          "edge17"  ["vertex10"  "vertex12" :red],
          "edge0"  ["vertex0"  "vertex1" :blue],
          "edge9"  ["vertex7"  "vertex8" :blue]}}
