{:editing? false,
 :vertices  {"vertex0"  [0  [40 40]],
             "vertex1"  [1  [300 40]],
             "vertex2"  [2  [300 300]],
             "vertex3"  [1  [40 300]]},
 :selected nil,
 :edges  {"edge0"  ["vertex0"  "vertex1" :red],
          "edge1"  ["vertex1"  "vertex2" :blue],
          "edge2"  ["vertex2"  "vertex3" :red],
          "edge3"  ["vertex3"  "vertex1" :red]}}
