body {
	background: #E8E8E8;
}
.edge:hover .value {
	opacity: 1;
	stroke-width: 18;
}
#edit:hover {
	stroke-width: 4
}

#auto:hover {
	stroke-width: 4
}

#randomrange {
    width: 200px;
}

#visibility {
    background-color: white;
    /* width: 206px; */
}